.next {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards::-webkit-scrollbar {
    display: none;
  }
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    margin: 0;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #E5BA73;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 400px; /* Adjust the height to ensure all cards are the same */
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 200px; /* adjust the height to make the images smaller */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-size: 18px;
    margin-top: 0;
   
    color: #4d3313;
}

.card p {
  
    font-size: 14px;
    margin-bottom: 10px;
}

.card-content {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar in WebKit browsers (Chrome, Safari) */
.card-content::-webkit-scrollbar {
    display: none;
}
.card-footer {
    background-color: #f7f7f7;
    padding: 10px;
    
    border-top: 1px solid #ddd;
    gap: 2rem;
    display: flex;
}

.card-footer input[type="submit"], input[type="delete"] {
    margin-top: 0;
    padding: 10px;
    background-color: #C58940; /* Dark color for the submit button */
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    
    cursor: pointer;
}

.card-footer input[type="submit"]:hover {
    background-color: #d3a355; /* Slightly lighter color for hover */
}
/* Edit pop-up styles */
.next-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.next-content.active {
    display: flex;
    
}


.box.form-box {
    background-color: #FAEAB1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.button_cancel {
    display: flex;
    justify-content: flex-end;
}

.cancel_icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #C58940;
}

/* Form container */
.form-Event {
    background-color: #FAF8F1; /* Lightest color for the form background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Form elements */
.form-Event label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #C58940; /* Darkest color for labels */
}

.form-Event input[type="text"],
.form-Event input[type="date"]{
    padding: 10px;
    border: 1px solid #E5BA73; /* Border color */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FAF8F1; /* Lightest color for input background */
}

.form-Event textarea {
    padding: 10px;
    border: 1px solid #E5BA73; /* Border color */
    border-radius: 5px;
    width: 100%;
    height: 100px; /* Fixed height for the description box */
    box-sizing: border-box;
    background-color: #FAF8F1; /* Lightest color for input background */
    resize: none; /* Prevent resizing */
    overflow: auto; /* Hide overflow */
}

.form-Event input[type="submit"], .form-Event input[type="reset"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #C58940; /* Dark color for the submit button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-Event input[type="submit"]:hover, .form-Event input[type="reset"]:hover {
    background-color: #E5BA73; /* Slightly lighter color for hover */
}

/* Add some spacing between elements */
.form-Event br {
    display: none;
}
