.next {
    margin-top: 20px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
}

/* Form container */
.form_data {
    width: 400px;
}

.form-book {
    background-color: #FAF8F1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

/* Form rows */
.form-row {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

/* Form elements */
.form-book label {
    flex: 1; 
    font-weight: bold;
    color: #C58940; 
}

.form-book input[type="text"],
.form-book input[type="date"],
.form-book input[type="time"],
.form-book input[type="email"],
.form-book input[type="number"] {
    flex: 2; 
    padding: 10px;
    border: 1px solid #E5BA73;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FAF8F1;
}

.form-book textarea {
    padding: 10px;
    border: 1px solid #E5BA73; /* Border color */
    border-radius: 5px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #FAF8F1; 
    resize: none; 
    overflow: auto; 
}

.form-book input[type="submit"], .form-book input[type="reset"] {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background-color: #C58940;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-book input[type="submit"]:hover, .form-book input[type="reset"]:hover {
    background-color: #eba83d; /* Slightly lighter color for hover */
}

/* Add some spacing between elements */
.form-book br {
    display: none;
}

.btn_box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.display_submit_data {
    border-radius: 1.5rem;
    height: 400px;

    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
.marq-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.message {
    background-color: #faeab1;
    border-radius: 10px;
    color: #eba83d;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card {
    background-color: #ffffff;
    border: 1px solid #E5BA73;
    border-radius: 1.2rem;
    padding: 15px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.card p {
    color: #000000;
    font-weight: 700;
    margin: 5px 0;
}

.card:hover {
    transform: translateY(-5px);
}

/* Media query for responsive design */
@media (max-width: 1199px) {
    .next {
        flex-direction: column;
        align-items: center;
    }
}
